body {
  color: #FFCCFF;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .image {
      img {
    width: 100%;
      }
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
    color: #fff;
    font-size: 1.2em;
      }
    }
    .body {
      font-size: 0.8em;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}
//以下はstyle.cssから継承
body {
  margin: 0px;
  padding-top: 0px;
  background-color: #FFCCFF;
}

a .pink{
  border:2px solid;
  margin: 10px;
  border-color:#aaaaaa #444444 #444444 #aaaaaa;
  background-color:#FF00FF ;
}

button.pink {
  font-size: 1.1em;
  background-color:#FF00FF;
}

.header-text-area .menu1 {
  float: left;
}

.header-text-area .menu2 {
  float: right;
}
.header-text-area:after {
 content: " ";
 clear: both;
}
 
header {
  margin: 0px;
  font-size: 1.2em;
  line-height: 1.2em;
  background-color:#808080;
}
h1,h2,p {
  text-align: center;
}

.col-md-2 {
  text-align: center;
}

.col-md-8 {
  text-align: center;
}


cond_title {
  text-align: center;
}