.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .model {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .model h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #000000;
}

.posts .post .model h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

.text-right.mt-3 {
  float: right;
}

body {
  margin: 0px;
  padding-top: 0px;
  background-color: #FFCCFF;
}

a .pink {
  border: 2px solid;
  margin: 10px;
  border-color: #aaaaaa #444444 #444444 #aaaaaa;
  background-color: #FF00FF;
}

button.pink {
  border: 2px solid;
  margin: 10px;
  border-color: #aaaaaa #444444 #444444 #aaaaaa;
  background-color: #FF00FF;
}

.header-text-area .menu1 {
  float: left;
}

.header-text-area .menu2 {
  float: right;
}

.header-text-area:after {
  content: " ";
  clear: both;
}

header {
  margin: 0px;
  font-size: 1.5em;
  line-height: 1.5em;
  background-color: #808080;
}

h1,
h2,
p {
  text-align: center;
}

#body-inside {
  overflow-x: hidden;
}

.orverwidth {
  margin: 0 -200%;
  padding: 0 200%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ff6666));
  background: linear-gradient(#ffffff 0%, #ff6666 100%);
  text-align: center;
}

.orverwidth p {
  padding: 1em;
}

